<div class="header">
    <a class="logo" href="/">Members Only</a>
    <% if(locals.user) {%> 
        <div><%=user.username%> of header</div>
    <%} else {%>
        <div class="links">
            <a href="/login" class="loginBtn"> Login </a>
            <a href="/sign-up" class="registerBtn"> Register </a>
        </div>     
    <%}%>           
</div>