<div>
    <%if(memberShipStatus) { %>
        <p><%= message.author %></p>
        <p><%= message.time %></p>
    <%} else {%>
        <p>@****</p>
        <p>****-**-**</p>
    <%}%>             
    <p><%= message.text %></p>

    <a href="/delete/<%= message.messageid %>">delete</a>
</div>