<div>
    <%if(memberShipStatus) { %>
        <p><%= author %></p>
        <p><%= time %></p>
    <%} else {%>
        <p>@****</p>
        <p>****-**-**</p>
    <%}%>             
    <p><%= text %></p>
</div>