<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <%-include('partials/header')%>
        <%if(locals.user) {%>
            <p><%=user.username%></p>
            <a href="/new-message">new message</a>
            <%if(!locals.user.membershipstatus){ %>
                 <p>To see usernames, you need to <a href="/join-the-club">join our club </a> first.</p>
            <%}%>
        <%} else { %>
            <h1>main page nothing else</h1>
        <%}%> 

        <%if(locals.messages) {%> 
            <%messages.forEach(msg=> {%>
                <%-include('partials/msg', {
                    memberShipStatus: locals.user ? user.membershipstatus : false,
                    author: msg.fullname, 
                    time: msg.time, 
                    text: msg.text 
                })%>
            <%})%>    
        <%}%>
    </body>
</html>