* {
    --main-bg: #0E1217;
    --second-clr: #7147ED;
    font-family: system-ui, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--main-bg);
    min-height: 100vh;
    width: 100%;
    padding: 0 10%;

    display: flex;
    flex-direction: column;
}

.container {
    padding: 2rem 24%;
    flex-grow: 1;
}

/* for little note on top */
.note {
    background-color: var(--second-clr);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 24px;
}

.note a {
    text-decoration: underline;
    font-weight: 700;
}


.msgs-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
}

.msg {
    border: 1px solid white;
    border-radius: 8px;
    max-width: 732px;

    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fullname {
    font-size: 1.3em;
    font-weight: 600;
}

.msg-details {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: repeat(2, 28px);
    align-items: center;
}

.msg-details .icon {
    grid-row: 1 / span 2;
    justify-self: center;
}

.msg .title {
    font-size: 1.4em;
    font-weight: 600;
}


.msg .txt {
    overflow-wrap: break-word;
}

.msg .deleteBtn {
    background-color: var(--second-clr);
    padding: 8px 22px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    align-self: flex-start;
    border-radius: 4px;
}

.msg .deleteBtn:hover {
    filter: brightness(120%);
}